.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 210px;
  height: 100vh;
  background-color: var(--app-background);
  z-index: 10;
  transition: all 0.4s;

  &.closed {
    transform: translateX(-100%);

    .togglerOpen:after {
      content: '>';
    }
  }

  input {
    flex-shrink: 0;
    background-color: var(--filter-background);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 8px;
    font-size: 1.2em;
    margin: 5px 0 2em 0;
  }

  .list {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .marker {
      display: flex;
      background-color: var(--marker-background);
      padding: 5px;
      margin-bottom: 2px;
      white-space: nowrap;

      & > span:first-child {
        flex-grow: 1;
        text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 10px;
      }

      &.travel {
        background-color: var(--marker-background-travel);
      }

      &.hover {
        background-color: var(--marker-background-hover);
      }
    }
  }

  .togglerOpen, .togglerFetch {
    position: absolute;
    right: -30px;
    width: 30px;
    height: 30px;
    background-color: var(--app-background);
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .togglerOpen {
    top: 5px;

    &:after {
      content: '<';
      line-height: 30px;
      font-size: 17px;
      font-weight: bold;
    }
  }

  .togglerFetch {
    top: 40px;

    &:after {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: green;
    }

    &.closed:after {
      background-color: red;
    }
  }
}