.list {
  position: absolute;
  width: 25%;
  min-width: 200px;
  height: 100%;
  background-color: var(--app-background);
  z-index: 10;
  transition: all 0.4s;

  &.closed {
    transform: translateX(-100%);

    .toggler:after {
      content: '>';
    }
  }

  input {
    background-color: var(--filter-background);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 8px;
    font-size: 1.2em;
    margin: 5px 0 2em 0;
  }

  .marker {
    background-color: var(--marker-background);
    padding: 5px;
    margin-bottom: 2px;

    &.travel {
      background-color: var(--marker-background-travel);
    }

    &.hover {
      background-color: var(--marker-background-hover);
    }
  }

  .toggler {
    position: absolute;
    top: 5px;
    right: -30px;
    width: 30px;
    height: 30px;
    background-color: var(--app-background);
    cursor: pointer;

    &:after {
      content: '<';
      line-height: 30px;
      font-size: 17px;
      font-weight: bold;
      margin-left: 10px;
      position: relative;
    }
  }
}