:root {
  --app-background: #ffffff;
  --app-color: #000000;
  --filter-background: #c3d3d6;
  --cluster-background: #32b6ca;
  --cluster-background-hover: var(--marker-background-hover);
  --marker-background: #9becf8;
  --marker-background-travel: #8bf5c4;
  --marker-background-hover: #ffff98;
  --marker-point-color: rgba(214, 212, 212, 0.5);
  --marker-point-color-travel: #8de2e2;
}
